/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mars 2016, 08:39:47
    Author     : gwennael
*/

.main-footer {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;

    .link {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    
    .site {
        color: #832D51;
        
        img {
            display: inline;
            margin: auto;
            vertical-align: middle;
        }
    }

}
