.jumbotron.user {
    background: rgba(0, 0, 0, 0) url("../img/achievements.jpg") no-repeat scroll center bottom / cover;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .jumbotron-container {
        background: rgba(131, 45, 81, 0.6) none repeat scroll 0 0;
        display: block;
        padding-top: 30px !important;

        .nom {
            color: #fff;
            font-size: 2.75em;
        }

        .localisation {
            color: #fff;
            font-size: 1.15em;
            margin-bottom: 1em;  
        }

        .nav-pills {

            li {
                a {
                    display: inline-block;
                    width: 85px;
                    text-align: center;
                    color: #fff;
                }

                a:hover, a:focus {
                    background-color: inherit !important;
                }
            }
            
            li.active {
                a {
                    font-weight: bold;
                    background-color: inherit !important;
                }
            }
        }
    }
}

