.jumbotron.projet {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .jumbotron-container {
        background: rgba(131, 45, 81, 0.6) none repeat scroll 0 0;
        display: block;
        padding-top: 50px !important;
        padding-bottom: 50px !important;

        .thematique {
            font-size: 1.1em;
            color: #fff;
        }

        .titre {
            color: #fff;
            font-size: 2.75em;
            margin: 10px auto 20px auto;
        }

        .createur {
            color: #fff;
            font-size: 1.3em;
            font-weight: bold;
        }
    }
}

.projet-stats {
    text-align: center;
    border-bottom: 1px solid #efefef;
    color: #aaaaaa;
    margin-bottom: 1em;

    .block {
        height: 75px;

        .fa {
            display: block;
            .fa-2x;
            .hidden-xs;
        }

        span {
            font-size: 1.1em;
        }
    }
}

.projet-content {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

.projet-toolbar {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-top: 1em;
    padding-bottom: 1em;

    .block {
        color: #aaaaaa;

        a {
            text-decoration: none;
            color: inherit;
        }

        i {
            display: inline-block;
            padding: 0 10px;
            cursor: pointer;
            .fa-2x;
        }

        .in-favoris {
            color: @flat-color-red;
        }
    }
}

.projet-etat-progress {
    padding: 1em 0;
    text-align: center;
    
    .projet-etat-progress-container {
        display: inline-block;
        
        .circle {
            position: relative;
            display: inline-block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            font-size: 12px;
            color: #fff;
            text-align: center;
            border: 3px solid @gray-light;
            background: @gray-lighter;
            color: @gray-light;

            .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .circle.active {
            border-color: @brand-primary;
            background: lighten(@brand-primary, 65%);
            color: @brand-primary;
        }
    }
    
}

.projet-votezone {

    .block.block-vote {
        text-decoration: none;
        color: #aaaaaa;
        cursor: not-allowed;
    }
    
    a {
        text-decoration: none;
        
        .block.block-vote {
            cursor: pointer;
        }
    }

    a:hover .block {
        color: @brand-primary;
    }

    .block {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        padding: 1em;

        .fa {
            display: inline-block;
            .fa-5x;
            position: relative;
            
            .badge {
                font-size: 14px;
                position: absolute;
                bottom: 0;
                right: -15px;
            }
        }
        
        .fa.fa-thumbs-o-up .badge {
            background-color: @flat-color-green;
        }
        
        .fa.fa-thumbs-o-down .badge {
            background-color: @flat-color-red;
        }

        div {
            font-size: 1.2em;
        }
    }
    
    .message-container {
        text-align: center;
        
        .message {
            display: inline-block;
            border-width: 1px;
            border-style: solid;
            padding: 1.5em;
            margin: 0.5em;
            text-transform: uppercase;
            font-size: 1.3em;
            color: #fff;
        }
        
        .message-success {
            background-color: @flat-color-green;
            border-color: darken(@flat-color-green, 10%);
        }
        
        .message-infos {
            background-color: @flat-color-blue;
            border-color: darken(@flat-color-blue, 10%);
        }
        
        .message-danger {
            background-color: @flat-color-red;
            border-color: darken(@flat-color-red, 10%);
        }
    }

}

.projet-voteinfo {

    .message-check {
        .fa {
            display: block;
            .fa-2x;
        }
        
        .vote-pour {
            color: @flat-color-green;
        }
        
        .vote-contre {
            color: @flat-color-red;
        }
    }

    .block {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        padding: 1em;
        color: #aaaaaa;

        i {
            display: block;
            .fa-5x;
        }

        span {
            font-size: 1.2em;
        }
    }
}

.decision-elu {
    text-align: center;
    padding: 1em;
}

.projet-commentaires {

    .commentaire-liste {

        .commentaire {
            
            .media-body {
                border-left: 6px solid #efefef;
                padding-left: 1em;
                
                .media-heading {
                    
                    .block-user {
                        margin-bottom: 5px;
                    }
                    
                    .block-date {
                        font-size: 0.8em;
                        color: #aaaaaa;
                        margin-bottom: 5px;
                    }
                    
                }
                
                .block-text {
                    font-size: 1.2em;
                }
                
                .block-vote {
                    text-align: right;
                    cursor: pointer;

                    .block-vote-pour {
                        font-weight: bold;
                        display: inline-block;
                        margin-right: 5px;

                        .fa {
                            color: @flat-color-green;
                        }
                    }

                    .block-vote-contre {
                        font-weight: bold;
                        display: inline-block;
                        margin-left: 5px;

                        .fa {
                            color: @flat-color-red;
                        }
                    }
                }
            }
        }
    }
}

