.panel-projet-block {
    border: 1px solid #eeeeee;
    margin-bottom: 1em;

    a {
        overflow: hidden;
        display: block;
        
        .thematique {
            background-color: rgba(106, 37, 66, 0.6);
        }

        .infos-container {

            .jours-container {
                padding: 1em;
            }

            .votes-container {
                padding: 1em;
            }

            .infos {
                text-align: center;
            }
            
            .infos:first-child {
                border-right: 1px solid #eeeeee;
            }

            .infos:last-child {
                border-left: 1px solid #eeeeee;
            }
        }
        
        .image-thematique {
            height: 160px;
        }
    }
}

.panel-projet-block:hover {
    border: 1px solid #dddddd;
}
