/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 mars 2016, 20:53:48
    Author     : gwennael
*/

.search-sidebar {

    form {

        .panel-thematique {

            .thematique-liste {

                .thematique {
                    margin-bottom: 1em;

                    label {
                        font-weight: normal !important;
                    }
                }

                .thematique:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}