/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 avr. 2016, 10:21:31
    Author     : Jarvis
*/

.main-sidebar {

    .dashboard-stats {
        text-align: left;

        .fa {
            display: inline-block;
            font-size: 1.3em;
            width: 25px;
        }

        .data-count {
            display: block;
            font-size: 1.3em;
            text-align: right;
        }

        .data-label {
            display: inline-block;
            font-size: 1em;
            text-transform: uppercase;
        }
    }

    .panel-body {
        background-color: #efefef;
    }

}