{# zone geographique #}
{% block zone_geographique_widget %}
    {% spaceless %}
        {{- form_widget(form.zone_geographique_text) -}}
        {{- form_widget(form.zone_geographique_id) -}}
    {% endspaceless %}
{% endblock zone_geographique_widget %}
