{% extends "::mail.html.twig" %}

{% block body %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" style="font-size:24px; color:#ad2f70; font-family:Helvetica, Arial, sans-serif;">
                Inscription réussi
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="left" class="font-bump" style="font-size:14px; color:#333333; font-family:Arial, Helvetica, sans-serif;">
                <p>
                    Bonjour {{ user.prenom }}
                </p>
                <p>
                    Vous venez de vous inscrire sur
                    <a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}">
                        {{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}
                    </a>
                    et nous vous en remercions
                </p>
                <p>
                    Sur Eklezia, la démocratie bla bla bla. Vous pourrez proposer,
                    débattre et voter sur des projets aux sein de votre ville,
                    de votre département ou de votre région.<br/>
                    Ces projets seront envoyé aux élu.
                </p>
                <p>
                    Eklezia, c'est la plateforme bla bla bla.
                </p>
                <p>
                    Nous vous invitons à valider et compléter votre profil.
                </p>

                <a href="{{ url('app_layout_confirmation_inscription', {token: user.tokenInscription}) }}" style="color:#FFF; text-decoration:none; cursor: pointer;">
                    <table border="0" cellpadding="5" cellspacing="0" class="100p" style="background-color: #808080">
                        <tr>
                            <td align="center" class="link-bump" style="font-size:16px; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;">
                                Valider et Complétez votre profil sur Eklezia
                                <span style="color:#ad2f70; font-weight:bold;">»</span>
                            </td>
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
