{% extends "::mail.html.twig" %}

{% block body %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" style="font-size:24px; color:#ad2f70; font-family:Helvetica, Arial, sans-serif;">
                Nouveau mot de passe
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="left" class="font-bump" style="font-size:14px; color:#333333; font-family:Arial, Helvetica, sans-serif;">
                <p>
                    Bonjour {{ user.prenom }},
                </p>
                <p>
                    Vous avez demandé un nouveau mot de passe. Le voici : <strong>{{ password }}</strong>
                </p>
                <p>
                    Après votre connexion, nous vous invitons à modifier ce mot de passe dans votre profil.
                </p>
                <a href="{{ url('app_layout_connexion') }}" style="color:#FFF; text-decoration:none; cursor: pointer;">
                    <table border="0" cellpadding="5" cellspacing="0" class="100p" style="background-color: #808080">
                        <tr>
                            <td align="center" class="link-bump" style="font-size:16px; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;">
                                Connexion
                                <span style="color:#ad2f70; font-weight:bold;">»</span>
                            </td>
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
