{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('projets') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>Zone Élu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ sidebar('projets-elu') }}
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    {{ navbar_elu(etat) }}
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Thématique</th>
                                <th>Date butoir</th>
                                <th>État</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for projet in projets %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_frontend_projets_voir', {'slug': projet.slug}) }}">
                                            {{ projet.titre }}
                                        </a>
                                    </td>
                                    <td>{{ projet.thematique.nom }}</td>
                                    <td>{{ projet.dateButoire|date('d/m/Y') }}</td>
                                    <td>{{ projet.etat|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
