{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('home') }}
    <div class="social-wall">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Tableau de bord</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="left-zone">
                        {{ sidebar() }}
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="main-zone">
                        {% for projet in projets %}
                            {{ projet_social_block(projet) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    {{ sidebar_info() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
