{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('projets') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>Près de chez moi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ sidebar('projets-proche') }}
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Les projets de {{ app.user.villePrincipal.nom }}</h3>     
                    </div>
                </div>
                <div class="row">
                    {% for projet in projetsVille %}
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            {{ projet_block(projet) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="text-muted">
                                Cette section est vide. Soyez le premier à
                                <a href="{{ path('app_frontend_projets_ajouter') }}">déposer un projet</a>
                                dans votre ville.
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Les projets de {{ app.user.departement.nom }}</h3>        
                    </div>
                </div>
                <div class="row">         
                    {% for projet in projetsDepartement %}
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            {{ projet_block(projet) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="text-muted">
                                Cette section est vide. Soyez le premier à
                                <a href="{{ path('app_frontend_projets_ajouter') }}">déposer un projet</a>
                                dans votre département.
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Les projets de {{ app.user.region.nom }}</h3>       
                    </div>
                </div>
                <div class="row">
                    {% for projet in projetsRegion %}
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            {{ projet_block(projet) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="text-muted">
                                Cette section est vide. Soyez le premier à
                                <a href="{{ path('app_frontend_projets_ajouter') }}">déposer un projet</a>
                                dans votre région.
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
