{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('projets') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>Recherche</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Filter les résultats</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="search-sidebar">
                            <form action="" method="post" novalidate>
                                {{ form_errors(form) }}
                                <div class="panel panel-default panel-titre">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            {{ form_label(form.titre) }}
                                            {{ form_widget(form.titre, {'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.titre) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-localisation">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="recherche-multiple">
                                                {{ form_label(form.localisation) }}
                                                {{ form_widget(form.localisation) }}
                                                {{ form_errors(form.localisation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-thematique">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                {{ form_label(form.thematiques) }}
                                            </div>
                                        </div>
                                        <div class="thematique-liste">
                                            {% for choice in form.thematiques %}
                                                <div class="thematique">
                                                    <div class="row">
                                                        <div class="col-xs-7">
                                                            {{ form_label(choice) }}
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="text-right">
                                                                {{ form_widget(choice, {'attr': {'class': 'form-control'} }) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {{ form_errors(form.thematiques) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">
                                        Rechercher
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Résultats de la recherche</h3>
                    </div>
                </div>
                <div class="row">
                    {% for projet in projets %}
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            {{ projet_block(projet) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="text-center text-muted">
                                Aucun projet n'a été trouvé
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
