{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ projet_cover(projet) }}
    <div class="container">
        <div class="projet-stats">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="block">
                        <i class="fa fa-map-o"></i>
                        <span>
                            {{- localisation_name(projet.localisation) -}}
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="block">
                        <i class="fa fa-clock-o"></i>
                        <span>
                            {{ temps_restant(projet.dateButoire, "Plus que ") }}
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="block">
                        <i class="fa fa-thumbs-o-up"></i>
                        <span>
                            {{- pluralize(projet.nombreVotes, 'vote') -}}
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="block">
                        <i class="fa fa-play"></i>
                        <span>
                            {{- projet.etat|trans -}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="projet-content">
            <div class="row">
                <div class="col-xs-12">
                    {{ projet.contenu|raw }}
                </div>
            </div>
        </div>

        <div class="projet-toolbar">
            <div class="row">
                <div class="col-xs-6">
                    <div class="block text-left">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if projet_in_favoris(app.user, projet) %}
                                <a href="{{ path('app_frontend_projets_like_favoris', {'slug': projet.slug}) }}">
                                    <i class="fa fa-heart in-favoris"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('app_frontend_projets_like_favoris', {'slug': projet.slug}) }}">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if is_commentable(projet) %}
                            <a href="#comment">
                                <i class="fa fa-comment-o"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-6">
                    {% if projet.isReaded %}
                        <div class="block text-right">
                            {{ share_facebook(app.request.getUri, projet.titre) }}
                            {{ share_twitter(app.request.getUri, projet.titre) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if projet.isReaded %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ projet_etat_progress(projet) }}
                {% include "AppBundle:Frontend:projet/" ~ (projet.etat|lower) ~ ".html.twig" %} 
            {% endif %}

            <div class="projet-voteinfo">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    {% if vote is not null %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="message-check">
                                    <h3 class="text-center">
                                        {% if vote.isPour() %}
                                            <span class="vote-pour">
                                                <i class="fa fa-check-circle-o"></i>
                                                <span>Vous avez voté pour ce projet</span>
                                            </span>
                                        {% elseif vote.isContre() %}
                                            <span class="vote-contre">
                                                <i class="fa fa-check-circle-o"></i>
                                                <span>Vous avez voté contre ce projet</span>
                                            </span>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        
        {% if not projet.isModerated %}
            <div class="projet-votezone">
                <div class="message-container">
                    <div class="message message-infos">
                        Le projet est en attente de modération
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_commentable(projet) %}
            <div id="comment" class="projet-commentaires">
                {% if projet.isReaded and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="commentaire-form">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        {{ form_widget(form.contenu, {attr: {class: 'form-control', rows: 10, cols: 30} }) }}
                                        {{ form_errors(form.contenu) }}
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="text-center">
                                        <button class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Commentaires</h3>
                    </div>
                </div>
                <div class="commentaire-liste">
                    {% for commentaire in projet.commentaires %}
                        <div class="panel panel-default panel-projet-block">
                            <div class="panel-body">
                                <div class="commentaire media">
                                    <div class="media-left">
                                        <a href="#">
                                            {{ avatar(commentaire.auteur, '100x100', 'media-object user-avatar-commentaire') }}
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <div class="block-user">
                                                <i class="fa fa-user"></i>
                                                {{ commentaire.auteur.publicName }}
                                            </div>
                                            <div class="block-date">
                                                <i class="fa fa-clock-o"></i>
                                                {{ commentaire.datePublication|date('d F Y') }}
                                            </div>
                                        </h4>
                                        <div class="block-text">
                                            {{ commentaire.contenu }}
                                        </div>
                                        <div class="block-vote">
                                            <div class="block-vote-pour">
                                                <i class="fa fa-thumbs-up"></i>
                                                <span>0</span>
                                            </div>
                                            <div class="block-vote-contre">
                                                <i class="fa fa-thumbs-down"></i>
                                                <span>0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block og %}
    <meta property="og:title" content="{{ projet.titre }}" />
    <meta property="og:description" content="{{ projet.contenu|excerpt(200) }}"/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ app.request.getUri }}" />
    <meta property="og:image" content="{{ asset(projet.image, absolute = true) }}" />

    <meta name="twitter:title" content="{{ projet.titre }}" />
    <meta name="twitter:description" content="{{ projet.contenu|excerpt(200) }}"/>
    <meta name="twitter:url" content="{{ app.request.getUri }}" />
    <meta name="twitter:image" content="{{ asset(projet.image, absolute = true) }}" />
{% endblock %}
