{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    <div class="container">
        <form class="projet-formulaire" action="" method="post" enctype="multipart/form-data" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <img class="logo" src="{{ asset("img/ek-logo.png") }}" alt="eklezia">
                    <h1 class="text-center">
                        {{ titre }}
                    </h1>
                    <p class="text-center">
                        Ecrivez un titre claire et concis pour attirer l'attention des autres utilisateurs,
                        choisissez une date de fin des votes, sa localisation et sa catégorie
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.titre, {'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.titre) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.localisation, {'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.localisation) }}
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.dateButoire, {'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.dateButoire) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.thematique, {'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.thematique) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">
                        Décrivez votre projet aux utilisateur d'Eklezia
                    </h3>
                    <p class="text-center">
                        Décrivez clairement votre projet en restant cordial et respectueux et expliquez en quoi
                        celui-ci pourraient améliorer votre vie et celle de vos concitoyen-ne-s.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.contenu, {'attr': { 'rows': 20} }) }}
                        {{ form_errors(form.contenu) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="upload-container" data-url="projet/upload/image-une" data-image="{{ img(form.vars.value.image) }}">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-sm-offset-3">
                                    <div class="text-center">
                                        {{ form_widget(form.image) }}
                                        <a class="iconed-button mediatheque-button">
                                            <i class="fa fa-picture-o fa-3x" aria-hidden="true"></i>
                                            Médiathèque
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="text-center">
                                        {{ form_widget(form.image) }}
                                        <a class="iconed-button upload-button">
                                            <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
                                            Ajouter une photo
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="upload-preview thumbnail size-350x200">
                                        <span class="text-muted">Aucune photo ajouté</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_errors(form.image) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Déposer
                        </button>
                    </div>
                </div>
            </div>
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}

{% block modals %}
    {% include 'AppBundle:Frontend:modal/modal-mediatheque.html.twig' %}
{% endblock %}
