{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('projets') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>Projets en favoris</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ sidebar('projets-favoris') }}
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    {% for projet in projets %}
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            {{ projet_block(projet) }}
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="text-center text-muted">
                                Vous n'avez actuellement aucun projet en favoris
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
