{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('parametres') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Paramètres du compte</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ profil_sidebar('password') }}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Changement de mot de passe</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form action="" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    Ancien mot de passe
                                </label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.oldPassword, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.oldPassword) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    Nouveau mot de passe
                                </label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.newPassword, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.newPassword) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    Confirmer le nouveau mot de passe
                                </label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.confirmPassword, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.confirmPassword) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <div class="text-center">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
