{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('parametres') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Paramètres du compte</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ profil_sidebar('profil') }}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Informations personnelles</h3>
                    </div>
                </div>
                <form action="" method="post" class="form-profil form-horizontal" enctype="multipart/form-data" novalidate>
                    <div class="row">
                        <div class="col-lg-8 col-xs-12">
                            {{ form_errors(form) }}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ form_label(form.prenom) }}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.prenom) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ form_label(form.nom) }}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ form_label(form.email) }}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ form_label(form.pseudo) }}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.pseudo, { 'attr': {'class': 'form-control'} }) }}
                                    {{ form_errors(form.pseudo) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ form_label(form.villePrincipal) }}
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.villePrincipal, { 'attr': {'class': 'form-control ville'} }) }}
                                    {{ form_errors(form.villePrincipal) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            {% if not app.user.facebookUser %}
                                <div class="upload-container" data-url="utilisateur/upload/image" data-image="{{ img(form.vars.value.image) }}">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                {{ form_widget(form.image) }}
                                                <a class="upload-button">
                                                    <i class="fa fa-camera fa-3x"></i>
                                                    Ajouter une photo
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="upload-preview thumbnail size-150x150">
                                                <span class="text-muted">Aucune photo ajouté</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_rest(form) }}
                            <div class="text-center">
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'AppBundle:Frontend:modal/modal-change-ville.html.twig' %}
{% endblock %}
