{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ dashboard_cover('parametres') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Paramètres du compte</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ profil_sidebar('autres') }}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Autres informations</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form action="" method="post">
                            {{ form_errors(form) }}
                            <div class="profil-autres">
                                <div class="mandat">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>Sélectionnez votre mandat d'élu :</h4>
                                        </div>
                                    </div>
                                    <div class="mandat-liste">
                                        <div class="row">
                                            {% for titre in form.titres %}
                                                <div class="col-xs-12">
                                                    {{ form_widget(titre) }}
                                                    {{ form_label(titre) }}
                                                </div>
                                            {% endfor %}
                                            {{ form_errors(form.titres) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="localisation">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>De quel ville, département ou région êtes vous l'élu ?</h4>
                                            <p>
                                                Ex: si vous êtes maire d'une ville, recherchez la ville.
                                                Si vous est conseiller général, recherchez le département.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                {{ form_widget(form.localisation) }}
                                                {{ form_errors(form.localisation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="honneur">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>
                                                {{ form_widget(form.honneurCheck) }}
                                                J'atteste sur l'honneur être un(-e) élu(-e) et avoir bien
                                                renseigné mon mandat.
                                            </p>
                                            {{ form_errors(form.honneurCheck) }}
                                            <p>
                                                Je suis conscient que, selon l'article 226-4-1 du Code Pénal, le
                                                fait d'usurper l'identité d'un tiers ou de faire usage d'une ou
                                                plusieurs données de toute nature permettant de l'identifier en vue
                                                de troubler sa tranquillité ou celle d'autrui, ou de porter
                                                atteinte à son honneur ou à sa considération, est puni d'un an
                                                d'emprisonnement et de 15 000 € d'amende.
                                            </p>
                                            <p>
                                                Veuillez inscrire dans le champ ci dessous "J'atteste sur l'honneur".
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                {{ form_widget(form.honneurTexte, {attr: {class: 'form-control'} }) }}
                                                {{ form_errors(form.honneurTexte) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="text-center">
                                            {% if null != mandat.id %}
                                                <a class="btn btn-danger btn-lg" href="{{ path('app_frontend_profil_annuler_mandat') }}">
                                                    Annuler mon mandat
                                                </a>
                                            {% else %}
                                                <button class="btn btn-primary btn-lg">Enregistrer</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
