<div class="list-group">
    <a href="{{ path('app_frontend_profil') }}" class="list-group-item {{ tag == 'profil' ? 'active' : '' }}">
        Informations personnelles
    </a>
    {% if not app.user.facebookUser %}
        <a href="{{ path('app_frontend_profil_password') }}" class="list-group-item {{ tag == 'password' ? 'active' : '' }}">
            Changer de mot de passe
        </a>
    {% endif %}
    <a href="{{ path('app_frontend_profil_autres') }}" class="list-group-item {{ tag == 'autres' ? 'active' : '' }}">
        Autres
    </a>
</div>


