/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 avr. 2016, 20:03:15
    Author     : gwennael
*/

.custom-select {
    select {
        font-size: inherit;
        padding: .5em;
        margin: 0;
    }
}


@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

    .custom-select {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-select select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-select::before,
    .custom-select::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-select::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-select::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-select select[disabled] {
        color: rgba(0,0,0,.3);
    }

    /* White dropdown style */
    .custom-select::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-select::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-select select { 
           padding-right: 0.9em
        }
    }
}