{% extends "::admin.html.twig" %}

{% block body %}
    <div id="wrapper">
        {{ render(controller('AppBundle:Backend/Index:navbar')) }}
        <div id="page-wrapper">
            {% for label, flashes in app.session.flashbag.all %}
                <div class="alert-container">
                    <div class="row">
                        <div class="col-xs-12">
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
