/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mars 2016, 00:23:26
    Author     : gwennael
*/

.selectize-control {

    .select-item {
        display: block;
        padding: 0.5em;
    }
}