/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 mars 2016, 20:21:21
    Author     : gwennael
*/

@import "backend/variables.less";

@import "backend/vendor.less";

table {

    td.control {
        text-align: center;
        cursor: pointer;
    }

}

@import "app/user-avatar.less";

@import "backend/home.less";
@import "backend/datatable.less";

@import "backend/app/projet.less";
@import "backend/app/vote.less";

@import "backend/app/plugin/upload-container.less";
