/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 févr. 2016, 13:05:22
    Author     : gwennael
*/

@import "frontend/vendor.less";

@import "frontend/variables.less";

html, body {
    height:100%;
}

body {
    padding-top: 50px;
}

.jumbotron.main {
    height:100%;
    background: rgba(0, 0, 0, 0) url("../img/home-bg.jpg") no-repeat scroll center top / cover;
    margin-bottom: 0 !important;

    .jumbotron-container {
        background: rgba(131, 45, 81, 0.5) none repeat scroll 0 0;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
}

@import "app/reseau-sociaux.less";
@import "app/user-avatar.less";
@import "app/thematique.less";
@import "app/form.less";

@import "frontend/vendor/bootstrap-more/bootstrap-more.less";

@import "frontend/effects/image-hover-effect.less";
@import "frontend/effects/set/ruby.less";

@import "frontend/layout/home.less";
@import "frontend/layout/formulaire.less";
@import "frontend/layout/footer.less";

@import "frontend/app/select/main-select.less";

@import "frontend/app/home.less";
@import "frontend/app/sidebar.less";
@import "frontend/app/social-wall.less";
@import "frontend/app/profil-autres.less";
@import "frontend/app/projet-formulaire.less";
@import "frontend/app/projet-block.less";
@import "frontend/app/projet-view.less";
@import "frontend/app/projet-recherche.less";
@import "frontend/app/footer.less";

@import "frontend/app/plugin/upload-container.less";
@import "frontend/app/plugin/selectize.less";
