{% extends "AppBundle::frontend.html.twig" %}

{% block content %}
    {{ cms_page_cover(page) }}
    <div class="container">
        <div class="projet-content">
            <div class="row">
                <div class="col-xs-12">
                    {{ page.contenu|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

