<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('app_backend_home') }}">Eklezia</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
                <i class="fa fa-tasks fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Espace Disque</strong>
                                <span class="pull-right text-muted">{{ disk_available_percent() }}% Disponible</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div style="width: {{ disk_used_percent() }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                    <span class="sr-only">
                                        {{ disk_used_percent() }}% Complete (success)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#">
                        <i class="fa fa-user fa-fw"></i>
                        Profil
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_frontend_home') }}">
                        <i class="fa fa-share-square fa-fw"></i>
                        Retour au site
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path('ekz_utilisateur_deconnexion') }}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Déconnexion
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
        {{ render(controller('AppBundle:Backend/Index:sidebar')) }}
    </div>
</nav>
