<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </li>
        <li>
            <a href="{{ path('app_backend_dashboard') }}">
                <i class="fa fa-dashboard fa-fw"></i> Tableau de bord
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-newspaper-o fa-fw"></i> Projets
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('app_backend_projet') }}">
                        Liste
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_backend_projet_a_moderer') }}">
                        A moderer
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('app_backend_utilisateur') }}">
                <i class="fa fa-users fa-fw"></i> Utilisateurs
            </a>
        </li>
        <li>
            <a href="{{ path('app_backend_commentaire') }}">
                <i class="fa fa-comments fa-fw"></i> Commentaires
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-fw"></i> Localisation
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('app_backend_ville') }}">
                        Villes
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_backend_departement') }}">
                        Département
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_backend_region') }}">
                        Région
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i> CMS
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('app_backend_cms_page') }}">
                        Pages
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cogs fa-fw"></i> Paramètres
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('app_backend_parametre') }}">
                        Global
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_backend_parametre_projet') }}">
                        Projet
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_backend_parametre_commentaire') }}">
                        Commentaire
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-support fa-fw"></i> Maintenance
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('app_backend_maintenance_log') }}">
                        Logs
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('app_backend_mediatheque') }}">
                <i class="fa fa-picture-o fa-fw"></i> Médiathèque
            </a>
        </li>
    </ul>
</div>
