/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 avr. 2016, 20:39:23
    Author     : gwennael
*/

form {
    
    .form-group {
        
        .alert {
            margin-top: 1em;
            
            ul.no-bullet {
                list-style-type: none;
                padding: 0;
            }
        }
    }
    
}