/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mars 2016, 18:51:26
    Author     : gwennael
*/

@facebookColor: #3b5998;
@facebookBorderColor: darken(@facebookColor, 20%);
@twitterColor: #00aced;
@twitterBorderColor: darken(@twitterColor, 20%);

.btn-facebook {
    background-color: @facebookColor;
    border: 1px solid @facebookBorderColor;
    
    .fa {
        font-size: 1.4em;
    }
    
    span {
        margin-bottom: 2px;
    }
}

.btn-facebook:hover {
    background-color: darken(@facebookColor, 6%);
    border-color: darken(@facebookBorderColor, 6%);
}

.facebook {
    color: @facebookColor;
}

.twitter {
    color: @twitterColor;
}