/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 avr. 2016, 20:31:28
    Author     : gwennael
*/

.image-thematique.politique-sociale-sante {
    background-color: rgb(46, 204, 113);
}

.image-thematique.justice-securite {
    background-color: rgb(65, 131, 215);
}

.image-thematique.economie-finance-consommation {
    background-color: rgb(103, 65, 114);
}

.image-thematique.entreprise-tourisme-emploi {
    background-color: rgb(242, 38, 19);
}

.image-thematique.education-jeunesse {
    background-color: rgb(210, 82, 127);
}

.image-thematique.culture-sport-vie-associative {
    background-color: rgb(248, 148, 6);
}

.image-thematique.transport-voiries-logement {
    background-color: rgb(245, 215, 110);
}

.image-thematique.developpement-durable-energie {
    background-color: rgb(189, 195, 199);
}
