/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mars 2016, 18:50:01
    Author     : gwennael
*/

.user-avatar {
    height: 120px;
    width: 120px;
}

.user-avatar-main {
    height: 116px;
    width: 116px;
    border-radius: 50%;
}

.user-avatar-projet {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.user-avatar-projet-social {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-avatar-commentaire {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
