<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="website" content="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}" />
        <title>{% block title %}Eklezia - Administration{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">

        <!-- MetisMenu CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/metisMenu/dist/metisMenu.min.css') }}">

        <!-- Timeline CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/startbootstrap-sb-admin-2/dist/css/timeline.css') }}">

        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css') }}">

        <!-- Morris Charts CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/morrisjs/morris.css') }}">
        
        <!-- Custom Fonts -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        
        <!-- DataTable CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('vendor/datatables/media/css/dataTables.bootstrap.min.css') }}">
        
        <link type="text/css" rel="stylesheet" href="{{ asset('css/admin.css') }}">
        
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/metisMenu/dist/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js') }}"></script>
        
        <!-- DataTable JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
        
        <!-- TinyMCE JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/tinymce/tinymce.js') }}"></script>
        
        <!-- MomentJS JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/moment/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/moment/locale/fr.js') }}"></script>
        
        <!-- Bootstrap Datetimepicker JavaScript -->
        <script type="text/javascript" src="{{ asset('vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
        
        <!-- Custom Theme JavaScript -->
        <script type="text/javascript" src="{{ asset('js/admin.js') }}"></script>
        
        {% block js %}{% endblock %}
    </body>
</html>
