<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="website" content="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}" />
        <title>{% block title %}Eklezia - La plateforme citoyenne qui change la vie réelle{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset("css/main.css") }}" />

        {% block og %}
            <meta property="og:locale" content="fr_fr"/>
            <meta property="og:site_name" content="Eklezia"/>
            <meta property="og:title" content="Eklezia - La plateforme citoyenne qui change la vie réelle" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url('app_layout_home') }}" />
            <meta property="og:image" content="{{ asset('images/ek-logo.png', absolute = true) }}" />
            
            <meta name="twitter:title" content="Eklezia - La plateforme citoyenne qui change la vie réelle" />
            <meta name="twitter:url" content="{{ url('app_layout_home') }}" />
            <meta name="twitter:image" content="{{ asset('images/ek-logo.png', absolute = true) }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% block modals %}{% endblock %}

        <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/tinymce/tinymce.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/moment/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/moment/locale/fr.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/selectize/dist/js/standalone/selectize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
