<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Test</title>
        <style>
            #outlook a {padding:0;}     
            body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}     
            .ReadMsgBody {width: 100%;}
            .ExternalClass {width:100%;} 
            .backgroundTable {margin:0 auto; padding:0; width:100% !important;} 
            table td {border-collapse: collapse;}
            .ExternalClass * {line-height: 115%;}

            /* End reset */
            @media screen and (max-width: 630px){

                *[class="container"] { width: 320px !important; padding:0px !important}                                 
                *[class="mobile-column"] {display: block;}
                *[class="mob-column"] {float: none !important;width: 100% !important;}         
                *[class="mobile-padding"] {padding-left:10px !important;padding-right:10px !important;}         
                *[class="hide"] {display:none !important;}          
                *[class="100p"] {width:100% !important; height:auto !important;}            
                *[class="mobile-column-blog"] {padding-bottom:20px;display:block;}


            }
            @media screen and (max-width: 450px){
                *[class="mobhide"] {display:none !important;}    
                *[class="font-bump"] {font-size:16px !important;}
                *[class="link-bump"] {font-size:21px !important;}
                *[class="100p-mob"] {width:100% !important; height:auto !important;}
            }
            
            .button {color:#FFF; text-decoration:none; cursor: pointer; background-color: #808080}
            .button span {color:#ad2f70; font-weight:bold;}
        </style>
    </head>
    <body style="padding:0; margin:0">
        <table border="0" cellpadding="0" cellspacing="0" class="mobile-padding" style="background-color: #EFEFEF; margin: 0; padding: 0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" class="100p" width="640">
                        <tr>
                            <td height="20"></td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" class="100p" width="640">
                        <tr>
                            <td valign="top"><img alt="" border="0" class="100p" src="http://placehold.it/640x170" style="display:block"></td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" class="100p" width="640">
                        <tr>
                            <td height="20"></td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="20" cellspacing="0" class="100p" style="background-color: #E6E6E6" width="640">
                        <tr>
                            <td valign="top">
                                {% block body %}{% endblock %}
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" class="100p" width="640">
                        <tr>
                            <td height="20"></td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" class="100p" width="640">
                        <tr>
                            <td valign="top"><img alt="" border="0" class="100p" src="http://placehold.it/640x100" style="display:block"></td>
                        </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" class="100p" width="640">
                        <tr>
                            <td height="20"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
