{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Modification de la page
            </h1>
        </div>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-8 col-xs-12">
            <div class="form-group">
                {{ form_widget(form.titre, {attr: {class: 'form-control', placeholder: 'Titre ...', 'data-slugify-setter': 'titre'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.slug, {attr: {class: 'form-control', placeholder: 'Slug ...', 'data-slugify-getter': 'titre'} }) }}
                <p class="text-info">
                    Le slug ne contient que des caractère en minuscule, sans accent et sans espace
                </p>
            </div>
            <div class="form-group">
                {{ form_widget(form.contenu) }}
            </div>
            <button type="submit" class="btn btn-default">
                Enregistrer
            </button>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.connexion) }}
                            Connexion obligatoire
                        </label>
                    </div>
                </div>
            </div>
            <div class="upload-container" data-url="cms/page/upload/image-couverture" data-image="{{ img(form.vars.value.imageCouverture) }}">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center">
                            {{ form_widget(form.imageCouverture) }}
                            <a class="iconed-button upload-button">
                                <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
                                Ajouter une image de couverture
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="upload-preview thumbnail size-350x200">
                            <span class="text-muted">Aucune photo ajouté</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
