{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Liste des pages
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Liste des pages</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="datatable-utilisateur">
                <nav class="navbar navbar-default datatable-search">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Filtre:</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control titre" placeholder="Titre ...">
                                </div>
                                <button type="button" class="btn btn-default datatable-reload-button">
                                    Filtrer
                                </button>
                                <a href="{{ path('app_backend_cms_page_ajouter') }}" class="btn btn-default">
                                    <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </form>
                        </div>
                    </div>
                </nav>
                <table class="datatable table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th class="text-center small-column">Connexion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            Datatable.init('datatable-utilisateur', {
                ajax: Datatable.ajax({
                    url: URL.get('admin/api/cms/page'),
                    data: function (data) {
                        data.titre = $('.datatable-search .titre').val();
                    }
                }),
                columns: [
                    {
                        render: function (data, type, row) {
                            var options = [
                                {
                                    url: URL.get('admin/cms/page/modifier/' + row.id),
                                    text: 'Modifier'
                                },
                                {
                                    url: URL.get('admin/cms/page/supprimer/' + row.id),
                                    text: 'Supprimer',
                                    class: 'danger'
                                }
                            ];
                            return Datatable.firstColumnRender(row.titre, options);
                        }
                    },
                    {
                        data: 'connexion',
                        className: "text-center",
                        render: function (data, type, row) {
                            return '<i class="fa ' + (row.connexion ? 'fa-check text-green' : 'fa-times text-red') + '" aria-hidden="true"></i>';
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}
