{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Liste des commentaires
            </h1>
        </div>
    </div>
{% endblock %}
