{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Tableau de bord
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-newspaper-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ nombre_projet }}</div>
                            <div>Projets</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_backend_projet') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ nombre_commentaire }}</div>
                            <div>Commentaires</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_backend_commentaire') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-up fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ nombre_vote }}</div>
                            <div>Votes</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ nombre_utilisateur }}</div>
                            <div>Utilisateurs</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_backend_utilisateur') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Plus de détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">

        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>
                    Panneau des notifications
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <i class="fa fa-tasks fa-fw"></i> Espace Disque
                            <span class="pull-right text-muted small">
                                <em>{{ disk_free_space }} / {{ disk_total_space }}</em>
                            </span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-database fa-fw"></i> Espace base de données
                            <span class="pull-right text-muted small">
                                <em>{{ database_used_space }} utilisé</em>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
