{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Log
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Logs</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="datatable-log">
                <nav class="navbar navbar-default datatable-search">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Actions:</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control log-message" placeholder="Log ...">
                                </div>
                                <div class="form-group">
                                    <select class="form-control log-type">
                                        <option value="">Type de log ...</option>
                                        <optgroup label="Doctrine">
                                            <option value="doctrine.DEBUG">Debug</option>
                                            <option value="doctrine.ERROR">Erreur</option>
                                            <option value="doctrine.INFO">Information</option>
                                            <option value="doctrine.CRITICAL">Critique</option>
                                        </optgroup>
                                        <optgroup label="PHP">
                                            <option value="php.DEBUG">Debug</option>
                                            <option value="php.ERROR">Erreur</option>
                                            <option value="php.INFO">Information</option>
                                            <option value="php.CRITICAL">Critique</option>
                                        </optgroup>
                                        <optgroup label="Request">
                                            <option value="request.DEBUG">Debug</option>
                                            <option value="request.ERROR">Erreur</option>
                                            <option value="request.INFO">Information</option>
                                            <option value="request.CRITICAL">Critique</option>
                                        </optgroup>
                                        <optgroup label="Securité">
                                            <option value="security.DEBUG">Debug</option>
                                            <option value="security.ERROR">Erreur</option>
                                            <option value="security.INFO">Information</option>
                                            <option value="security.CRITICAL">Critique</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default datatable-reload-button">
                                    Filtrer
                                </button>
                                <a class="btn btn-default" href="{{ path('app_backend_maintenance_log_trash') }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Vider les logs
                                </a>
                            </form>
                        </div>
                    </div>
                </nav>
                <table class="datatable table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            Datatable.init('datatable-log', {
                ajax: Datatable.ajax({
                    url: URL.get('admin/api/maintenance/logs'),
                    data: function (data) {
                        data.message = $('.datatable-search .log-message').val();
                        data.type = $('.datatable-search .log-type').val();
                    }
                }),
                columns: [
                    {
                        data: 'date'
                    },
                    {
                        data: 'type'
                    },
                    {
                        data: 'message'
                    }
                ]
            });
        });
    </script>
{% endblock %}