{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Mediathèque
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Mediathèque</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-default datatable-search">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-filter">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Filtre:</a>
                    </div>
                    <div id="navbar-filter" class="collapse navbar-collapse">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control nom" placeholder="Nom ...">
                            </div>
                            <button type="button" class="btn btn-default datatable-reload-button">
                                Filtrer
                            </button>
                            <a class="btn btn-default" href="{{ path('app_backend_mediatheque_ajouter') }}">
                                <i class="fa fa-plus"></i>
                                Ajouter
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        {% for media in medias %}
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail">
                    <img src="{{ media.path|apply_filter('backend_media_thumb') }}" />
                    <div class="caption">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">{{ media.nom }}</h4>
                                {{ media.thematique.nom }}
                            </div>
                            <div class="media-right text-nowrap">
                                <a href="{{ path('app_backend_mediatheque_modifier', {id: media.id}) }}" class="" role="button">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('app_backend_mediatheque_supprimer', {id: media.id}) }}" class="text-danger" role="button">
                                    <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
