{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {% if media.id %}
                    Modification du média
                {% else %}
                    Ajouter un nouveau média
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_mediatheque') }}">Mediathèque</a></li>
                <li class="active">Formulaire</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {novalidate: ""}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.nom) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.path) }}
                    {{ form_widget(form.path) }}
                    {{ form_errors(form.path) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.thematique) }}
                    {{ form_widget(form.thematique, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.thematique) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
