{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Paramètres des projets
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Paramètres des projets</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post" class="form-horizontal" novalidate>
                {{ form_errors(form) }}
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.projet_date_butoire_min) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.projet_date_butoire_min, {attr: {class: 'form-control'} }) }}
                        {{ form_errors(form.projet_date_butoire_min) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 control-label">
                        {{ form_label(form.projet_moderation) }}
                    </div>
                    <div class="col-sm-9">
                        {{ form_widget(form.projet_moderation, {attr: {class: 'checkbox'} }) }}
                        {{ form_errors(form.projet_moderation) }}
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
