{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ projet.titre }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_projet') }}">Liste des projets</a></li>
                <li class="active">Projet N°{{ projet.id }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="submenu">
                <a class="btn btn-default" href="{{ path('app_frontend_projets_voir', {slug: projet.slug}) }}">
                    Voir la fiche sur le site
                </a>
                <a href="{{ path('app_backend_projet_moderation', {id: projet.id, moderation: 1}) }}" class="btn btn-success">
                    Valider le projet
                </a>
                <a href="{{ path('app_backend_projet_moderation', {id: projet.id, moderation: 0}) }}" class="btn btn-danger">
                    Refuser le projet
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-xs-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>{{ projet.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre:</th>
                        <td>{{ projet.titre }}</td>
                    </tr>
                    <tr>
                        <th>Thématique:</th>
                        <td>{{ projet.thematique.nom }}</td>
                    </tr>
                    <tr>
                        <th>Localisation:</th>
                        <td>{{ projet.localisation }}</td>
                    </tr>
                    <tr>
                        <th>Date butoire:</th>
                        <td>{{ projet.dateButoire|date("d/m/Y") }}</td>
                    </tr>
                    <tr>
                        <th>État:</th>
                        <td>{{ projet.etat|trans }}</td>
                    </tr>
                    <tr>
                        <th>Date de publication:</th>
                        <td>{{ projet.datePublication|date("d/m/Y") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5 col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Contenu:</label>
        </div>
        <div class="col-xs-12">
            {{ projet.contenu|raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="{{ path('app_backend_projet_modifier', {id: projet.id}) }}" class="btn btn-primary">
                    Modifier
                </a>
                <a href="#" class="btn btn-danger disabled">
                    Supprimer
                </a>
            </div>
        </div>
    </div>
{% endblock %}
