{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ projet.titre }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_projet') }}">Liste des projets</a></li>
                <li><a href="{{ path('app_backend_projet_voir', {id: projet.id}) }}">Projet N°{{ projet.id }}</a></li>
                <li class="active">Modification</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post" novalidate>
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.titre) }}
                    {{ form_widget(form.titre, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug, {attr: {class: 'form-control'} }) }}
                    <p class="help-block">
                        Cette valeur ne doit contenir que des lettres sans accent,
                        des chiffres et des tirets. Aucun espace
                    </p>
                    {{ form_errors(form.slug) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.thematique) }}
                    {{ form_widget(form.thematique, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.thematique) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.dateButoire) }}
                    {{ form_widget(form.dateButoire, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.dateButoire) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                    {{ form_errors(form.image) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.contenu) }}
                    {{ form_widget(form.contenu, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.contenu) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
