{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Liste des projets
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Liste des projets</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="datatable-projet">
                <nav class="navbar navbar-default datatable-search">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Filtre:</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control projet" placeholder="Projet ...">
                                </div>
                                <button type="button" class="btn btn-default datatable-reload-button">
                                    Filtrer
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
                <table class="datatable table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Thématique</th>
                            <th>Localisation</th>
                            <th class="text-center small-column">État</th>
                            <th class="text-center small-column">Votes</th>
                            <th class="text-center small-column">Commentaires</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            Datatable.init('datatable-projet', {
                ajax: Datatable.ajax({
                    url: URL.get('admin/api/projets'),
                    data: function (data) {
                        data.projet = $('.datatable-search .projet').val();
                    }
                }),
                columns: [
                    {
                        data: 'titre',
                        render: function (data, type, row) {
                            var options = [
                                {
                                    url: URL.get('admin/projets/voir/' + row.id),
                                    text: 'Voir'
                                },
                                {
                                    url: URL.get('admin/projets/modifier/' + row.id),
                                    text: 'Modifier'
                                },
                                {
                                    url: URL.get('admin/projets/supprimer/' + row.id),
                                    text: 'Supprimer',
                                    class: 'danger'
                                }
                            ];
                            return Datatable.firstColumnRender(data, options);
                        }
                    },
                    {
                        data: 'thematique'
                    },
                    {
                        data: 'localisation'
                    },
                    {
                        data: 'etat',
                        className: "text-center"
                    },
                    {
                        className: "text-center",
                        render: function (data, type, row) {
                            var vote = [
                                '<span class="badge vote-pour">' + row.votes_pour + '</span>',
                                '<span class="badge vote-contre">' + row.votes_contre + '</span>'
                            ];
                            return vote.join(' ');
                        }
                    },
                    {
                        data: 'commentaires',
                        className: "text-center"
                    }
                ]
            });
        });
    </script>
{% endblock %}
