{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ region.nom }}, {{ region.pays.nom }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_region') }}">Liste des régions</a></li>
                <li class="active">{{ region.nom }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-xs-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>{{ region.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom:</th>
                        <td>{{ region.nom }}</td>
                    </tr>
                    <tr>
                        <th>Pays:</th>
                        <td>{{ region.pays.nom }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5 col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="{{ path('app_backend_region_modifier', {id: region.id}) }}" class="btn btn-primary">
                    Modifier
                </a>
                <a href="#" class="btn btn-danger disabled">
                    Supprimer
                </a>
            </div>
        </div>
    </div>
{% endblock %}
