{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {% if region.id %}
                    {{ region.nom }}, {{ region.pays.nom }}
                {% else %}
                    Ajouter une nouvelle région
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_region') }}">Liste des régions</a></li>
                {% if region.id %}
                    <li><a href="{{ path('app_backend_region_voir', {id: region.id}) }}">{{ region.nom }}</a></li>
                {% endif %}
                <li class="active">Formulaire</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post" novalidate>
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.nom) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug, {attr: {class: 'form-control'} }) }}
                    <p class="help-block">
                        Cette valeur ne doit contenir que des lettres sans accent,
                        des chiffres et des tirets. Aucun espace
                    </p>
                    {{ form_errors(form.slug) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.pays) }}
                    {{ form_widget(form.pays, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.pays) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
