{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Liste des région
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Liste des régions</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="datatable-region">
                <nav class="navbar navbar-default datatable-search">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-filter">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Filtre:</a>
                        </div>
                        <div id="navbar-filter" class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control region" placeholder="Région ...">
                                </div>
                                <button type="button" class="btn btn-default datatable-reload-button">
                                    Filtrer
                                </button>
                                <a class="btn btn-default" href="{{ path('app_backend_region_ajouter') }}">
                                    <i class="fa fa-plus"></i>
                                    Ajouter
                                </a>
                            </form>
                        </div>
                    </div>
                </nav>
                <table class="table table-striped table-hover datatable">
                    <thead>
                        <tr>
                            <th>Région</th>
                            <th>Pays</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            Datatable.init('datatable-region', {
                ajax: Datatable.ajax({
                    url: URL.get('admin/api/localisation/regions'),
                    data: function (data) {
                        data.region = $('.datatable-search .region').val();
                    }
                }),
                columns: [
                    {
                        data: 'nom',
                        render: function (data, type, row) {
                            var options = [
                                {
                                    url: URL.get('admin/regions/voir/' + row.id),
                                    text: 'Voir'
                                },
                                {
                                    url: URL.get('admin/regions/modifier/' + row.id),
                                    text: 'Modifier'
                                },
                                {
                                    url: URL.get('admin/regions/supprimer/' + row.id),
                                    text: 'Supprimer',
                                    class: 'danger'
                                }
                            ];
                            return Datatable.firstColumnRender(data, options);
                        }
                    },
                    {
                        data: 'pays'
                    }
                ]
            });
        });
    </script>
{% endblock %}