{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Fiche de {{ utilisateur.prenom }} {{ utilisateur.nom }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_utilisateur') }}">Liste</a></li>
                <li class="active">{{ utilisateur.prenom }} {{ utilisateur.nom }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="thumbnail">
                {{ avatar(utilisateur, '150x150', 'user-avatar bordered') }}
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>{{ utilisateur.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom:</th>
                        <td>{{ utilisateur.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prénom:</th>
                        <td>{{ utilisateur.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ utilisateur.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
