{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Liste des utilisateurs
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li class="active">Liste des utilisateurs</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="datatable-utilisateur">
                <nav class="navbar navbar-default datatable-search">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Filtre:</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control utilisateur" placeholder="Utilisateur ...">
                                </div>
                                <button type="button" class="btn btn-default datatable-reload-button">
                                    Filtrer
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
                <table class="datatable table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Prénom nom</th>
                            <th>Ville (Région)</th>
                            <th class="text-center small-column">Rôle</th>
                            <th class="text-center small-column">Dernière activité</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            Datatable.init('datatable-utilisateur', {
                ajax: Datatable.ajax({
                    url: URL.get('admin/api/utilisateurs'),
                    data: function (data) {
                        data.utilisateur = $('.datatable-search .utilisateur').val();
                    }
                }),
                columns: [
                    {
                        render: function (data, type, row) {
                            var options = [
                                {
                                    url: URL.get('admin/utilisateurs/voir/' + row.id),
                                    text: 'Voir'
                                },
                                {
                                    url: URL.get('admin/utilisateurs/modifier/' + row.id),
                                    text: 'Modifier'
                                },
                                {
                                    url: URL.get('admin/utilisateurs/supprimer/' + row.id),
                                    text: 'Supprimer',
                                    class: 'danger'
                                }
                            ];
                            return Datatable.firstColumnRender(row.prenom + ' ' + row.nom, options);
                        }
                    },
                    {
                        data: 'villePrincipal',
                        render: function (data, type, row) {
                            return row.villePrincipal + ' (' + row.region + ')';
                        }
                    },
                    {
                        data: 'role',
                        className: "text-center"
                    },
                    {
                        data: 'lastActivity',
                        className: "text-center"
                    }
                ]
            });
        });
    </script>
{% endblock %}
