{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ ville.nom }}, {{ ville.region.nom }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_ville') }}">Liste des villes</a></li>
                <li class="active">{{ ville.nom }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-xs-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>ID:</th>
                        <td>{{ ville.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom:</th>
                        <td>{{ ville.nom }}</td>
                    </tr>
                    <tr>
                        <th>Département:</th>
                        <td>{{ ville.departement.nom }}</td>
                    </tr>
                    <tr>
                        <th>Région:</th>
                        <td>{{ ville.region.nom }}</td>
                    </tr>
                    <tr>
                        <th>Pays:</th>
                        <td>{{ ville.pays.nom }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5 col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="{{ path('app_backend_ville_modifier', {id: ville.id}) }}" class="btn btn-primary">
                    Modifier
                </a>
                <a href="#" class="btn btn-danger disabled">
                    Supprimer
                </a>
            </div>
        </div>
    </div>
{% endblock %}
