{% extends "AppBundle::backend.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {% if ville.id %}
                    {{ ville.nom }}, {{ ville.region.nom }}
                {% else %}
                    Ajouter une nouvelle ville
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('app_backend_dashboard') }}">Tableau de bord</a></li>
                <li><a href="{{ path('app_backend_ville') }}">Liste des villes</a></li>
                {% if ville.id %}
                    <li><a href="{{ path('app_backend_ville_voir', {id: ville.id}) }}">{{ ville.nom }}</a></li>
                {% endif %}
                <li class="active">Formulaire</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post" novalidate>
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.nom) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug, {attr: {class: 'form-control'} }) }}
                    <p class="help-block">
                        Cette valeur ne doit contenir que des lettres sans accent,
                        des chiffres et des tirets. Aucun espace
                    </p>
                    {{ form_errors(form.slug) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.codePostal) }}
                    {{ form_widget(form.codePostal, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.codePostal) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.departement) }}
                    {{ form_widget(form.departement, {attr: {class: 'form-control'} }) }}
                    {{ form_errors(form.departement) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
