<div class="main-sidebar">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 dashboard-stats">
                    <div class="row">
                        <div class="col-xs-10">
                            <i class="fa fa-newspaper-o hidden-md"></i>
                            <span class="data-label">Projets déposés</span>
                        </div>
                        <div class="col-xs-2">
                            <span class="data-count">{{ nombre_projet }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 dashboard-stats">
                    <div class="row">
                        <div class="col-xs-10">
                            <i class="fa fa-thumbs-o-up hidden-md"></i>
                            <span class="data-label">Projets votés</span>
                        </div>
                        <div class="col-xs-2">
                            <span class="data-count">{{ nombre_vote }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 dashboard-stats">
                    <div class="row">
                        <div class="col-xs-10">
                            <i class="fa fa-comment-o hidden-md"></i>
                            <span class="data-label">Commentaires laissés</span>
                        </div>
                        <div class="col-xs-2">
                            <span class="data-count">{{ nombre_commentaire }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>