<footer class="layout-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img class="logo" src="{{ asset('img/ek-logo-white.png') }}"/>
                <p class="text-center">
                    Similique assumenda quo sed, accusamus exercitationem earum nulla
                    consequatur laborum cum ratione doloremque quasi quam libero.
                </p>
            </div>
            <div class="col-md-4 col-xs-12">
                <ul class="link-list">
                    <li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('app_frontend_projets_ajouter') }}">
                                Déposer un projet
                            </a>
                        {% else %}
                            <a href="{{ path('app_layout_connexion_pour_projet') }}">
                                Déposer un projet
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('app_layout_page', {slug: 'nous-connaitre'}) }}">
                            Nous connaître
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_layout_page', {slug: 'protection-des-donnees-et-cgu'}) }}">
                            Protection des données et CGU
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_layout_page', {slug: 'faq'}) }}">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_layout_page', {slug: 'developpeurs'}) }}">
                            Développeurs
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_layout_page', {slug: 'ameliorer-la-visibilite-d-un-projet'}) }}">
                            Améliorer la visibilité d'un projet
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="reseaux-sociaux">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                Rejoignez-nous sur les réseaux sociaux
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <a target="_blank" href="https://www.facebook.com/ekleziaorg/">
                                <span class="fa-stack fa-lg facebook">
                                    <i class="fa fa-square-o fa-container"></i>
                                    <i class="fa fa-facebook fa-icon"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a target="_blank" href="https://twitter.com/eklezia_org">
                                <span class="fa-stack fa-lg twitter">
                                    <i class="fa fa-square-o fa-container"></i>
                                    <i class="fa fa-twitter fa-icon"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a target="_blank" href="https://plus.google.com/b/102769966290495770423/102769966290495770423">
                                <span class="fa-stack fa-lg google">
                                    <i class="fa fa-square-o fa-container"></i>
                                    <i class="fa fa-google-plus fa-icon"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
