<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('app_layout_home') }}">Eklezia</a>
        </div>
        <div class="collapse navbar-collapse" id="topbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('app_frontend_home') }}">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_frontend_projets_ajouter') }}">
                        Déposer un projet
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{user.publicName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('app_frontend_projets_proche') }}">
                                Projets me concernant
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_frontend_projets') }}">
                                Mes projets
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_frontend_projets_favoris') }}">
                                Mes projets favoris
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ path('app_frontend_profil') }}">
                                Profil
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                Invitez des amis
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ path('ekz_utilisateur_deconnexion') }}">
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('app_backend_home') }}">
                            Administration
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
