/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 avr. 2016, 20:02:31
    Author     : gwennael
*/

#page-wrapper {
    padding-top: 30px;
    padding-bottom: 2em;
    
    .alert-container {
        
        .alert:last-child {
            margin-bottom: 0 !important;
        }
        
    }
    
    .page-header {
        margin-top: 10px !important;
    }
    
    .submenu {
        margin-bottom: 1em;
    }
}
