/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2016, 20:05:37
    Author     : gwennael
*/

/* FLAT UI COLOR */
@flat-color-red: #c0392b;
@flat-color-green: #27ae60;
@flat-color-blue: #00F;