/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 févr. 2016, 14:57:39
    Author     : gwennael
*/

@import "../../../../web/vendor/bootstrap/less/variables.less";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@import "../../../../web/vendor/eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker.less";
