/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mars 2016, 20:37:50
    Author     : gwennael
*/

.social-wall {

    .main-zone {

        .projet {

            .titre {
                font-size: 1.2em;

                a {
                    text-decoration: none;
                    color: @brand-primary;
                }

            }

            .titre.titre-xs {
                margin-bottom: 1em;
            }

            .share {
                text-align: right;

                .fa {
                    padding: 5px;
                    cursor: pointer;
                    font-size: 1.2em;
                }

                .in-favoris {
                    color: @flat-color-red;
                }
            }

            .info {
                clear: both;
                overflow: hidden;
                margin-bottom: 0.5em;

                @media (max-width: (@screen-sm-min - 1)) {
                    display: inline-block;
                }


                .createur-avatar {
                    float: left;
                    margin-right: 1em;
                }

                .createur-et-date {
                    @media (max-width: (@screen-sm-min - 1)) {
                        text-align: left;
                        float: right;
                    }

                    .createur {
                        font-size: 1.1em;
                    }

                    .date {
                        .text-muted;
                    }
                }
            }

            .thematique {
                .text-muted;
                margin-bottom: 0.5em;

                @media (max-width: (@screen-sm-min - 1)) {
                    margin: 1em;
                }
            }
            
            .image-thematique {
                height: 113px;
            }

            .votes-container {
                text-align: right;
            }
        }
    }
}