<div class="main-sidebar">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a href="{{ path('app_frontend_projets_ajouter') }}" class="list-group-item">
                    Déposer un projet
                </a>
                <a href="{{ path('app_frontend_projets_search') }}" class="list-group-item">
                    Rechercher un projet
                </a>
            </div>

            <div class="list-group">
                <a href="{{ path('app_frontend_projets_proche') }}" class="list-group-item {{ tag == 'projets-proche' ? 'active' : '' }}">
                    Découvrir les projets qui me concernent
                </a>
                <a href="{{ path('app_frontend_projets') }}" class="list-group-item {{ tag == 'mes-projets' ? 'active' : '' }}">
                    Mes projets
                </a>
                <a href="{{ path('app_frontend_projets_favoris') }}" class="list-group-item {{ tag == 'projets-favoris' ? 'active' : '' }}">
                    Mes projets favoris
                </a>
            </div>
        </div>
    </div>
</div>