<div class="panel-projet-block effect">
    <a href="{{ path('app_frontend_projets_voir', {'slug': projet.slug}) }}">
        <div class="row">
            <div class="col-xs-12">
                <figure class="effect-ruby">
                    {% if projet.image %}
                    <img src="{{ projet.image|apply_filter('projet_thumb') }}" alt="image du projet" />
                    {% else %}
                        <div class="image-thematique {{ projet.thematique.slug }}"></div>
                    {% endif %}
                    <figcaption>
                        <h2 class="titre">{{ projet.titre|excerpt }}</h2>
                        <p class="thematique">{{ projet.thematique.nom }}</p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="infos-container">
            <div class="row">
                <div class="col-xs-6 infos">
                    <div class="jours-container">
                        <i class="fa fa-calendar"></i>
                        <span class="jours">{{ temps_restant(projet.dateButoire) }}</span>
                    </div>
                </div>
                <div class="col-xs-6 infos">
                    <div class="votes-container">
                        <i class="fa fa-thumbs-o-up"></i>
                        <span class="votes">{{ projet.votes|length }} votes</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>