<div class="jumbotron projet" style="background-image: url({{ asset(projet.image, absolute = true) }});">
    <div class="jumbotron-container">
        <div class="container">
            <div class="text-center">
                <span class="thematique">
                    {{ projet.thematique.nom }}
                </span>
                <h1 class="titre">
                    {{ projet.titre }}
                </h1>
                <div class="createur">
                    {{ avatar(projet.createur, '100x100', 'user-avatar-projet')}}
                    <span>
                        {{ projet.createur.publicName }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% for label, flashes in app.session.flashbag.all %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}