<div class="projet">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="effect">
                <div class="row visible-xs">
                    <div class="col-xs-9">
                        <div class="titre titre-xs">
                            <a href="{{ path('app_frontend_projets_voir', {'slug': projet.slug}) }}">
                                {{ projet.titre }}
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="share">
                            <span class="toogle-to-favoris">
                                {% if projet_in_favoris(app.user, projet) %}
                                    <i class="fa fa-heart in-favoris"></i>
                                {% else %}
                                    <i class="fa fa-heart-o"></i>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <a href="{{ path('app_frontend_projets_voir', {'slug': projet.slug}) }}">
                            <figure class="effect-ruby">
                                {% if projet.image %}
                                    <img src="{{ projet.image|apply_filter('projet_thumb') }}" alt="image du projet" />
                                {% else %}
                                    <div class="image-thematique {{ projet.thematique.slug }}"></div>
                                {% endif %}
                            </figure>
                        </a>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="row hidden-xs">
                            <div class="col-xs-9">
                                <div class="titre">
                                    <a href="{{ path('app_frontend_projets_voir', {'slug': projet.slug}) }}">
                                        {{ projet.titre }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="share">
                                    <span class="toogle-to-favoris">
                                        {% if projet_in_favoris(app.user, projet) %}
                                            <i class="fa fa-heart in-favoris"></i>
                                        {% else %}
                                            <i class="fa fa-heart-o"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="thematique text-center-for-xs">
                                    {{ projet.thematique.nom }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center-for-xs">
                                    <div class="info">
                                        <div class="createur-avatar">
                                            {{ avatar(projet.createur, '75x75', 'user-avatar-projet-social')}}
                                        </div>
                                        <div class="createur-et-date">
                                            <div class="createur">
                                                <span>
                                                    {{ projet.createur.publicName }}
                                                </span>
                                            </div>
                                            <div class="date">
                                                <span>
                                                    Déposé il y a {{ ago(projet.datePublication) }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="jours-container">
                            <i class="fa fa-calendar"></i>
                            <span class="jours">
                                {{ temps_restant(projet.dateButoire) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="votes-container">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span class="votes">
                                {{ pluralize(projet.votes|length, 'vote') }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="projet.slug" value="{{ projet.slug }}" />
</div>
