<form action="{{ path('ekz_utilisateur_connexion_check') }}" method="post">
    
    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert-box alert" data-alert>
            {{ error.message }}
            <span class="close">&times;</span>
        </div>
    {% endif %}
    
    <div class=" columns">
        <i class="icon-envelope"></i>
        <input type="text" class="form-connexion-email" name="_username" value="{{ last_username }}" />
    </div> 
    <div class=" columns">
        <i class="icon-lock"></i>
        <input type="password" class="form-connexion-password" name="_password" />
    </div>
    <div class="columns">
        <a href="" data-reveal-id="passwordReset" class="passwordResetLink left">Mot de passe oublié ?</a>
        <button type="submit" class="ekBtn right"> 
            <span class="btnText">Connexion</span>
            <span class="btnIcon">
                <i class="fa fa-check"></i>
            </span>
        </button>
    </div>
</form>
