<form action="{{ path('ekz_utilisateur_inscription_check') }}" method="post">
    {% if errors %}
        {% for error in errors %}
            <div class="alert-box alert" data-alert>
                {{ error.message }}
                <span class="close">&times;</span>
            </div>
        {% endfor %}
    {% endif %}
    <div class="columns">
        <i class="icon-user"></i>
        {{ form_widget(form.prenom, {'attr' : {'placeholder': 'Votre prénom ...'} }) }}
    </div>
    <div class="columns">
        <i class="icon-user"></i>
        {{ form_widget(form.nom, {'attr' : {'placeholder': 'Votre nom ...'} }) }}
    </div>  
    <div class="columns">
        <i class="icon-envelope"></i>
        {{ form_widget(form.email, {'attr' : {'placeholder': 'Votre email ...'} }) }}
    </div> 
    <div class="columns">
        <i class="icon-lock"></i>
        {{ form_widget(form.password, {'attr' : {'placeholder': 'Votre mot de passe ...'} }) }}
    </div>
    <div class="columns">
        <button type="submit" class="ekBtn right"> 
            <span class="btnText">S'inscrire</span>
            <span class="btnIcon">
                <i class="fa fa-check"></i>
            </span>
        </button>
    </div>
    {{ form_rest(form) }}
</form>
