<form action="">
    <div class=" columns">
        <i class="icon-envelope"></i>
        <input type="email" placeholder="Votre email">
    </div> 
    <div class="columns">
        <button class="button right success">Valider</button>
    </div>                                                
</form>
