<ul class="nav nav-tabs">
    <li role="presentation" class="{{ etat is null ? 'active' : ''}}">
        <a href="{{ path('app_frontend_elu') }}">
            Tous
        </a>
    </li>
    <li role="presentation" class="{{ etat == 'envoye' ? 'active' : ''}}">
        <a href="{{ path('app_frontend_elu', {etat: 'envoye'}) }}">
            En attente de réponse
        </a>
    </li>
    <li role="presentation" class="{{ etat == 'refuse' ? 'active' : ''}}">
        <a href="{{ path('app_frontend_elu', {etat: 'refuse'}) }}">
            Refusé
        </a>
    </li>
    <li role="presentation" class="{{ etat == 'accepte' ? 'active' : ''}}">
        <a href="{{ path('app_frontend_elu', {etat: 'accepte'}) }}">
            Validé
        </a>
    </li>
    <li role="presentation" class="{{ etat == 'en-cours-de-realisation' ? 'active' : ''}}">
        <a href="{{ path('app_frontend_elu', {etat: 'en-cours-de-realisation'}) }}">
            En cours de réalisation
        </a>
    </li>
    <li role="presentation" class="{{ etat == 'realise' ? 'active' : ''}}">
        <a href="{{ path('app_frontend_elu', {etat: 'realise'}) }}">
            Réalisé
        </a>
    </li>
</ul>
