<div class="jumbotron projet" style="background-image: url({{ asset(page.imageCouverture, absolute = true) }});">
    <div class="jumbotron-container">
        <div class="container">
            <div class="text-center">
                <h1 class="titre">
                    {{ page.titre }}
                </h1>
            </div>
        </div>
    </div>
</div>

{% for label, flashes in app.session.flashbag.all %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}