/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mars 2016, 08:39:47
    Author     : gwennael
*/

.layout-footer {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: @brand-primary;
    border-top: 1px solid #e7e7e7;
    color: #fff;

    .logo {
        width: 25px;
        height: auto;
    }

    ul.link-list {
        padding-left: 25px;
        margin: 0;
        list-style-type: none;
        text-align: left !important;

        li {
            padding: 0;
            margin: 0;


            a {
                color: #fff;
            }
        }
    }

    .reseaux-sociaux {

        p {
            margin-bottom: 1em;
        }
        
        .fa-stack {
            cursor: pointer;
            color: #fff;

            .fa-container, .fa-icon {
                left: 0;
                position: absolute;
                text-align: center;
                width: 100%;
            }

            .fa-icon {
                line-height: 38px;
            }

            .fa-container {
                font-size: 2.5em;
            }

            .fa-icon {
                font-size: 1em;
            }
        }

        .fa-stack.facebook:hover {
            color: @facebookColor;
        }

        .fa-stack.twitter:hover {
            color: @twitterColor;
        }

        .fa-stack.google:hover {
            color: red;
        }
    }
}
