.jumbotron.main {

    .jumbotron-container {

        .jumbotron-form {

            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .panel {
                margin: 1em auto;

                .input-group {
                    width: 100%;

                    .input-group-addon {
                        width: 40px;
                    }
                }
            }
            
            .pas-encore-membre {
                font-size: 1em;
            }

            .formulaire-connexion {
                .panel {
                    width: 375px;
                }
            }

            .formulaire-inscription {
                .panel {
                    width: 375px;

                    .message-inscription {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}