.jumbotron.main {

    .jumbotron-container {
        background: rgba(131, 45, 81, 0.5) none repeat scroll 0 0;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;

        .jumbotron-content {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .alert {
                .container;
            }
            
            .alert.alert-success {
                background-color: fade(@state-success-bg, 30%);
                border-color: fade(@state-success-bg, 80%);
            }
            
            .title {
                font-size: 2em;
                text-transform: uppercase;
                color: #fff;
            }

            .btn {
                background-color: transparent !important;
                border-radius: 0 !important;
                border-width: 2px;
                border-color: #fff;
                text-transform: uppercase;
            }

            .panel {
                margin: 1em auto;
                width: 375px;
            }
        }

        .searchbar {
            background: rgba(131, 45, 81, 0.7) none repeat scroll 0 0;
            min-height: 50px !important;
            padding: 1rem;
            position: absolute;
            bottom: 0 !important;
            left: 0;
            visibility: visible;
            width: 100%;
            font-size: 1.2em;

            .label-form {
                color: #fff;
            }

            input[type=text] {
                margin: 5px auto;
                width: 275px;
                max-width: 100%;
                height: 40px;
                background-color: transparent !important;
                color: #fff;
                font-size: inherit;
                border: 0;
                border-bottom: 2px solid #fff;
                border-radius: 0;
                box-shadow: none;
            }

            input[type=text]::-webkit-input-placeholder {
                color: #fff;
            }
            input[type=text]::-moz-placeholder {
                color: #fff;
            }
            input[type=text]:-ms-input-placeholder {
                color: #fff;
            }
            
            .easy-autocomplete {
                margin-left: auto;
                margin-right: auto;
            }

            /* ------ */
            /* SELECT */
            /* ------ */

            .custom-select {
                color: #fff;
            }

            @supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

                .custom-select.layout select {
                    margin: 5px 0;
                    box-shadow: none;
                    border-bottom: 2px solid #fff;
                    border-radius: 0px !important; 
                }

                /* White dropdown style */
                .custom-select .form-control {
                    background-color: transparent !important;
                }

                .custom-select select {
                    height: 40px;
                    color: #fff;
                }

                .custom-select::after {
                    color: #fff;
                }

                /* White dropdown style */
                .custom-select::before {
                    background-color: transparent !important;
                    border-left: 0;
                }
            }
            /* ---------- */
            /* FIN SELECT */
            /* ---------- */
            
            button {
                height: 40px;
                background-color: transparent !important;
                border-radius: 0;
                color: #fff;
                font-size: 1.2em;
                border: 2px solid #fff;
            }
        }
    }
}

.section-home-about {
    display: block;
    padding: 3em 1em;

    img {
        margin: 0 auto;
        .img-responsive;
    }

    img.logo {
        width: 60px;
    }
}

.section-home-explain {
    padding: 3em 0;
    background: rgba(0, 0, 0, 0) url("../img/how-to-bg.jpg") no-repeat scroll center bottom / cover ;

    .explain-block {
        background: #ffffff none repeat scroll 0 0;
        padding: 1em 10px;
        text-align: center;

        .fa {
            display: block;
            margin: 1em 0;
            .fa-5x;
        }

        .title {
            font-size: 1.3em;
        }

        .subtitle {
            font-size: 1.15em;
            color: #a6a6a6;
        }

        .content {
            height: 100px;
            margin-top: 10px;
        }

        .more-info {
            cursor: pointer;
            color: @brand-primary;

            .fa {
                margin: 0 0 1em 0 !important;
            }
        }
    }
}