<div class="projet-etat-progress visible-lg">
    <div class="projet-etat-progress-container">
        <div class="circle {{ projet.progression >= ((1 / 6) * 100) ? 'active' : '' }}">
            <div class="content">
                En cours de vote
            </div>
        </div>
        <div class="circle {{ projet.progression >= ((2 / 6) * 100) ? 'active' : '' }}">
            <div class="content">
                {% if projet.progression >= ((2 / 6) * 100) %}
                    {{ projet.etat == 'ACCEPTE_PAR_UTILISATEURS' ? 'Accepté' : 'Refusé' }}
                {% else %}
                    Accepté ou refusé
                {% endif %}
            </div>
        </div>
        <div class="circle {{ projet.progression >= ((3 / 6) * 100) ? 'active' : '' }}">
            <div class="content">
                Envoyé à l'élu
            </div>
        </div>
        <div class="circle {{ projet.progression >= ((4 / 6) * 100) ? 'active' : '' }}">
            <div class="content">
                {% if projet.progression >= ((2 / 6) * 100) %}
                    {{ projet.etat == 'ACCEPTE' ? 'Accepté' : 'Refusé' }} par l'élu
                {% else %}
                    Accepté ou refusé par l'élu
                {% endif %}
            </div>
        </div>
        <div class="circle {{ projet.progression >= ((5 / 6) * 100) ? 'active' : '' }}">
            <div class="content">
                En cours de réalisation
            </div>
        </div>
        <div class="circle {{ projet.progression >= ((6 / 6) * 100) ? 'active' : '' }}">
            <div class="content">
                réalisé
            </div>
        </div>
    </div>
</div>
