{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron main text-center">
        <div class="jumbotron-container">
            <div class="jumbotron-form">
                <div class="formulaire-connexion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Pour effectuer cette action, vous devez être connecté(e) :-)</span>
                        </div>
                        <div class="panel-body">
                            {% if error %}
                                <div class="alert alert-danger" data-alert>
                                    {{ error.message }}
                                    <span class="close">&times;</span>
                                </div>
                            {% endif %}
                            <form action="{{ path('ekz_utilisateur_connexion_check') }}" method="post">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <input type="email"
                                                       class="form-control"
                                                       name="_username"
                                                       placeholder="Votre identifiant ..."
                                                       value="{{ last_username }}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                <input type="password"
                                                       class="form-control"
                                                       placeholder="Votre mot de passe ..."
                                                       name="_password" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <p class="pas-encore-membre">
                                            Pas encore membre ?<br/>
                                            <a href="#">
                                                Inscrivez-vous
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 text-left">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">
                                                Se souvenir de moi
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12 text-right">
                                        <div class="checkbox">
                                            <a href="#" class="left">
                                                Mot de passe oublié ?
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="{{ facebook_url() }}" class="btn btn-primary btn-facebook">
                                            <i class="fa fa-facebook-official fa-fw"></i>
                                            <span>Connexion via Facebook</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="submit" class="btn btn-primary right"> 
                                            <span class="btnText">Connexion</span>
                                            <span class="btnIcon">
                                                <i class="fa fa-check"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
