{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron main text-center">
        <div class="jumbotron-container">
            <div class="jumbotron-form">
                <div class="formulaire-connexion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Vous avez oublié votre mot de passe ?
                            </span>
                        </div>
                        <div class="panel-body">
                            <form action="" method="post">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <input type="email"
                                                       class="form-control"
                                                       name="_email"
                                                       placeholder="Votre adresse email ..." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="submit" class="btn btn-primary"> 
                                            <span class="btnText">
                                                Recevoir votre nouveau mot de passe
                                            </span>
                                            <span class="btnIcon">
                                                <i class="fa fa-check"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
