{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron main text-center">
        <div class="jumbotron-container">
            <div class="jumbotron-content">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h1 class="title">La plateforme citoyenne qui change la vie réelle</h1>
                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">
                        <i class="fa fa-star-o"></i>
                        Découvrir
                    </a>
                </p>
            </div>
            <div class="searchbar">
                <form class="form-inline" action="{{ path('app_frontend_projets_search') }}" method="post" novalidate>
                    <label class="label-form">Chercher un projet</label>
                    <div class="form-group">
                        {{ form_widget(form.localisation, {attr: {class: 'form-control', placeholder: 'Localisation ...'} }) }}
                    </div>
                    <div class="form-group">
                        <span class="custom-select layout">
                            {{ form_widget(form.thematiques, {attr: {class: 'form-control'} }) }}
                        </span>
                    </div>
                    <button class="btn btn-default" type="submit"> 
                        <span class="btnText">Rechercher</span>
                        <span class="btnIcon">
                            <i class="icon-magnifier"></i>
                        </span>
                    </button>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
    <section class="section-home-about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="{{ asset('img/ek-logo.png') }}" class="logo" alt="Eklezia"/>
                    <h3 class="text-center">Le projet Eklezia</h3>
                    <p class="text-center">
                        <strong>Eklezia.org</strong> est la première plateforme citoyenne locale.
                        Elle permet aux citoyen-ne-s de <strong>proposer</strong>,
                        <strong>débattre</strong>, <strong>voter</strong> et <strong>envoyer</strong>
                        aux élus locaux des projets les concernant.<br/>
                        C'est un nouvel espace d'expression citoyenne, simple et efficace.
                        Eklezia.org se propose d'apporter un nouveau souffle à la démocratie locale,
                        d'améliorer la vie de tous en favorisant l'émergence et la réalisation d'idées de bon sens.
                    </p>
                    <img src="{{ asset('img/pingouins.jpg') }}" alt="pingouins" />
                </div>
            </div>
        </div>
    </section>
    <section class="section-home-explain">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="explain-block">
                        <i class="fa fa-heart-o"></i>
                        <div class="title">Nos valeurs</div>
                        <div class="content">
                            La plateforme citoyenne Eklezia.org est éditée par l’association à but non lucratif Eklezia.
                            Elle est gratuite, démocratique, politiquement neutre et universelle. 
                        </div>
                        <div class="more-info">
                            <i class="fa fa-plus-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="explain-block">
                        <i class="fa fa-fort-awesome"></i>
                        <div class="title">Comment ça marche ?</div>
                        <div class="content">
                            Les citoyens et les élus peuvent soumettre des projets. Ceux-ci sont débattus et votés.
                            Les résultats des votes sont directement envoyés aux élus pour que ceux-ci réalisent les
                            projets.
                        </div>
                        <div class="more-info">
                            <i class="fa fa-plus-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="explain-block">
                        <i class="fa fa-users"></i>
                        <div class="title">Qui sommes nous ?</div>
                        <div class="content">
                            Vous avez une idée de projet citoyen pour votre ville, votre département ou votre région ?
                            Inscrivez-vous et soumettez-là au vote des personnes concernées !
                        </div>
                        <div class="more-info">
                            <i class="fa fa-plus-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer() }}
{% endblock %}
