{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron main text-center">
        <div class="jumbotron-container">
            <div class="jumbotron-form">
                <div class="formulaire-inscription">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Inscrivez-vous</span>
                        </div>
                        <div class="panel-body">
                            {% if errors %}
                                {% for error in errors %}
                                    <div class="alert alert-danger" data-alert>
                                        {{ error.message }}
                                        <span class="close">&times;</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="{{ path('ekz_utilisateur_inscription_check') }}" method="post">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            {{ form_widget(form.prenom, {attr : {placeholder: 'Votre prénom ...', class: 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            {{ form_widget(form.nom, {attr : {placeholder: 'Votre nom ...', class: 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            {{ form_widget(form.email, {attr : {placeholder: 'Votre email ...', class: 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            {{ form_widget(form.password, {attr : {placeholder: 'Votre mot de passe ...', class: 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="{{ facebook_url() }}" class="btn btn-primary btn-facebook">
                                            <i class="fa fa-facebook-official fa-fw"></i>
                                            <span>Connexion via Facebook</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button type="submit" class="btn btn-primary right"> 
                                            <span class="btnText">S'inscrire</span>
                                            <span class="btnIcon">
                                                <i class="fa fa-check"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}