{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="information-page">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="titre">{{ page.titre }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="contenu">
                        {{ page.contenu|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
