<a target="_blank" href="https://www.facebook.com/sharer.php?u={{ url }}&t={{ text }}" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
    <i class="facebook fa fa-facebook-official" title="Partager sur Facebook"></i>
</a>
