<a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ url }}&text={{ text }}&via=Eklezia_org" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
    <i class="twitter fa fa-twitter-square" title="Partager sur Twitter"></i>
</a>
