/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 mars 2016, 20:53:27
    Author     : gwennael
*/

@font-family-base: "Tahoma","Geneva",sans-serif;
@font-size-base: 13px;

@brand-primary: #6A2542;

@border-radius-base: 2px;

/* NAVBAR */
@navbar-default-link-color: #fff;
@navbar-default-bg: #832D51;
@navbar-default-link-hover-color: darken(@navbar-default-link-color, 16.5%);
@navbar-default-link-active-color: @navbar-default-link-color;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 3.5%);

/* DROPDOWN */
@dropdown-link-hover-color: #fff;
@dropdown-link-hover-bg: #832D51;

/* FLAT UI COLOR */
@flat-color-red: #c0392b;
@flat-color-green: #27ae60;
@flat-color-blue: #3498db;

/* SELECTIZE */
@selectize-color-item-text: #fff;
@selectize-color-item: @brand-primary;
