{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="jumbotron user">
        <div class="jumbotron-container">
            <div class="container">
                <div class="text-center">
                    {{ avatar(user, '150x150', 'user-avatar-main') }}
                    <h1 class="nom">
                        {{ user.publicName }}
                    </h1>
                    <div class="localisation">
                        {% if null != user.villePrincipal %}
                            <i class="fa fa-map-marker"></i>
                            <span>
                                {{ user.villePrincipal.nom }},
                                {{ user.villePrincipal.departement.nom }},
                                {{ user.villePrincipal.departement.region.pays.nom }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% for label, flashes in app.session.flashbag.all %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
