<div id="userLogin" class="reveal-modal full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="columns modalBody">
        <img src="{{ asset("images/ek-logo-white.png") }}" alt="">
        <h2 class="text-center">Connectez vous à Eklezia</h2>
        {{ render(controller('EkzUtilisateurBundle:Form:connexion')) }}
        <div class="columns">
            <p class="text-center">
                pas encore de compte ?
                <a href="" data-reveal-id="userSubscribe">Créer un compte sur Eklezia</a>
            </p>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
