<div id="userSubscribe" class="reveal-modal full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="columns modalBody">
        <img src="{{ asset("images/ek-logo-white.png") }}" alt="">
        <h2 class="text-center">Créer un compte sur Eklezia</h2>
        {{ render(controller('EkzUtilisateurBundle:Form:inscription')) }}
        <div class="columns">
            <p class="text-center">
                Déjà inscrit ?
                <a href="" data-reveal-id="userLogin">connectez vous</a>
            </p>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
