<div id="passwordReset" class="reveal-modal full" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="columns modalBody">
        <img src="{{ asset("images/ek-logo-white.png") }}" alt="">
        <h2 class="text-center">Réinitialisez votre mot de passe</h2>
        {# include "AppBundle:inc:layout/form/reset-password.html.twig" #}
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
