<div id="modal-change-ville" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Attention</h4>
            </div>
            <div class="modal-body">
                <p>
                    En changeant de ville, tous les votes concernant les projets actuellement en cours de vote
                    ne seront pas pris en compte.
                </p>
                <p>
                    Voulez-vous continuer
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">Continuer</button>
            </div>
        </div>
    </div>
</div>