{% extends "::mail.html.twig" %}

{% block body %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" style="font-size:24px; color:#ad2f70; font-family:Helvetica, Arial, sans-serif;">
                Dépot du projet <strong>{{ projet.titre }}</strong>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="left" class="font-bump" style="font-size:14px; color:#333333; font-family:Arial, Helvetica, sans-serif;">
                <p>
                    Bonjour {{ projet.createur.prenom }},
                </p>
                <p>
                    Vous venez de déposer un projet et nous vous en remercions
                    <a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}">
                        {{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}
                    </a>
                </p>
                <p>
                    Avant que votre projet ne soit visible par les citoyens, nous devons le valider afin de vérifer
                    qu'il n'y ai pas de connerie dans ce que vous dite. bla bla bla.
                </p>
                <p>
                    En déposant votre projet, bla bla bla.
                </p>
                <p>
                    N'hésitez pas à partager votre projet sur les réseaux sociaux. bla bla bla
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
