{% extends "::mail.html.twig" %}

{% block body %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" style="font-size:24px; color:#ad2f70; font-family:Helvetica, Arial, sans-serif;">
                Le projet <strong>{{ projet.titre }}</strong> a été voté et validé par les citoyens
                de {{ projet.localisation }}.
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="left" class="font-bump" style="font-size:14px; color:#333333; font-family:Arial, Helvetica, sans-serif;">
                <p>
                    Bonjour,
                </p>
                <p>
                    Un projet a été voté et validé par les citoyens d'eklezia.<br/>
                    Veuillez donc prendre connaissance du projet {{ projet.titre }} en cliquant sur le bouton ci-dessous :<br/>
                    <a href="{{ url('app_frontend_projets_voir', {'slug': projet.slug}) }}" style="color:#FFF; text-decoration:none; cursor: pointer;">
                        <table border="0" cellpadding="5" cellspacing="0" class="100p" style="background-color: #808080">
                            <tr>
                                <td align="center" class="link-bump" style="font-size:16px; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;">
                                    voir le projet
                                    <span style="color:#ad2f70; font-weight:bold;">»</span>
                                </td>
                            </tr>
                        </table>
                    </a>
                </p>
                <p>
                    Pour plus d'information, veuillez prendre contact avec le dépositaire du projet :<br/>
                    - Citoyen : {{ projet.createur.prenom }} {{ projet.createur.nom }}<br/>
                    - Email : {{ projet.createur.email }}
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
