{% extends "::mail.html.twig" %}

{% block body %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" style="font-size:24px; color:#ad2f70; font-family:Helvetica, Arial, sans-serif;">
                Le projet <strong>{{ projet.titre }}</strong> à été validé
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="left" class="font-bump" style="font-size:14px; color:#333333; font-family:Arial, Helvetica, sans-serif;">
                <p>
                    Bonjour {{ projet.createur.prenom }},
                </p>
                <p>
                    MODERATION VALIDE
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
