/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2016, 20:04:33
    Author     : gwennael
*/

.badge.vote-pour {
    background-color: @flat-color-green;
}

.badge.vote-contre {
    background-color: @flat-color-red;
}
