<div class="projet-votezone">
    <div class="message-container">
        <div class="message message-success">
            Le projet a été accepté par l'élu
        </div>
    </div>
</div>

{% if app.user == projet.createur %}
    <div class="decision-elu">
        <a href="{{ path('app_frontend_projet_change_etat', {slug: projet.slug, etat: 'en-cours-de-realisation'}) }}" class="btn btn-info btn-lg">
            En cours de réalisation
        </a>
    </div>
{% endif %}
