<div class="projet-votezone">
    <div class="message-container">
        <div class="message message-success">
            Le projet a été accepté par les utilisateur
        </div>
    </div>
</div>

{% if app.user == projet.createur %}
    <div class="decision-elu">
        <a href="{{ path('app_frontend_envoyer_a_elu', {slug: projet.slug, etat: 'envoye'}) }}" class="btn btn-info btn-lg">
            Envoyé le projet à l'élu
        </a>
    </div>
{% endif %}
