<div class="projet-votezone">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">Votez pour ce projet</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {% if is_votable(projet) %}
                <a href="{{ path('app_frontend_projets_vote', {'slug': projet.slug, 'vote': vote('POUR')}) }}">
            {% endif %}
                <div class="block block-vote">
                    <i class="fa fa-thumbs-o-up">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and vote is not null %}
                            <span class="badge">
                                {{- projet.votesPour|length -}}
                            </span>
                        {% endif %}
                    </i>
                    <div>Je vote pour ce projet</div>
                </div>
            {% if is_votable(projet) %}
                </a>
            {% endif %}
        </div>
        <div class="col-md-6 col-xs-12">
            {% if is_votable(projet) %}
                <a href="{{ path('app_frontend_projets_vote', {'slug': projet.slug, 'vote': vote('CONTRE')}) }}">
            {% endif %}
                <div class="block block-vote">
                    <i class="fa fa-thumbs-o-down">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and vote is not null %}
                            <span class="badge">
                                {{- projet.votesContre|length -}}
                            </span>
                        {% endif %}
                    </i>
                    <div>Je vote contre ce projet</div>
                </div>
            {% if is_votable(projet) %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
