<div class="projet-votezone">
    <div class="message-container">
        <div class="message message-infos">
            Le projet est actuellement en cours de réalisation
        </div>
    </div>
</div>

{% if app.user == projet.createur %}
    <div class="decision-elu">
        <a href="{{ path('app_frontend_projet_change_etat', {slug: projet.slug, etat: 'realise'}) }}" class="btn btn-info btn-lg">
            Réalisé
        </a>
    </div>
{% endif %}
