<div class="projet-votezone">
    <div class="message-container">
        <div class="message message-success">
            Le projet a été envoyé à l'élu.
        </div>
    </div>
</div>

{% if app.user == projet.createur %}
    <div class="decision-elu">
        <a href="{{ path('app_frontend_projet_change_etat', {slug: projet.slug, etat: 'accepte'}) }}" class="btn btn-success btn-lg">
            L'élu a accepté le projet
        </a>
        <a href="{{ path('app_frontend_projet_change_etat', {slug: projet.slug, etat: 'refuse'}) }}" class="btn btn-danger btn-lg">
            L'élu a refusé le projet
        </a>
    </div>
{% endif %}
