/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 mars 2016, 08:42:27
    Author     : gwennael
*/

.preview-350x200 {
    
}

.upload-container {

    .iconed-button {
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        cursor: pointer;

        i {
            display: block;
        }
    }

    .upload-preview {
        text-align: center;
        margin: 1em auto;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            display: inline;
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
    
    .upload-preview.size-350x200 {
        width: 350px;
        height: 200px;
        max-width: 350px;
        max-height: 200px;
        
        span {
            max-width: 350px;
        }
    }
    
    .upload-preview.size-150x150 {
        width: 150px;
        height: 150px;
        max-width: 150px;
        max-height: 150px;
        
        span {
            max-width: 150px;
        }
    }
    
    input[type=file] {
        display: none;
    }
}
